<div class="form-group">
    <label for="field_2" class="control-label col-md-3 col-sm-3 col-xs-12">{{item.field_label}}</label>
    <div class="col-md-4">
        <input class="form-control" id="field_2" name="{{item.field_name}}" type="text">
    </div>
    <div class="col-md-2 checkbox">
        <label>
            <input  name="{{item.review_file}}" type="checkbox"> Review file
        </label>

    </div>
    <div class="col-md-1 checkbox">
        <label>
            <input  name="{{item.all_db}}" type="checkbox"> All DB
        </label>
    </div>
    <div class="col-md-1">
        <i class="fa fa-trash field_remove" ng-click="removeField()"></i>
    </div>
</div>